section.companions-content__companions.page-companions
  h2.visually-hidden Профили попутчиков

  //- mixin companions-card-page(imageLink, personName, likeCount, tags, countries, level, fly=false, bus=false, bike=false, walk=false)

      @String imageLink
      @String personName
      @String likeCount
      @Array tags
      @Object countries
      @Number level

  +companions-card-page(
    'img/firsova-mobile@1x.jpg',
    'img/firsova-tablet@1x.jpg',
    'img/firsova-desktop@1x.jpg',
    'Таня Фирсова',
    '1,5 m',
    ['#ЗОЖ', '#ПП','#Фитнес','#пляж','#авокадо','#смузи'],
    {
      'sri-lanka': 'Шри-Ланка',
      'thailand': 'Тайланд',
      'seychelles': 'Сейшелы'
    },
    99,
    fly=true,
    bus=false,
    bike=false,
    walk=false,
    liked=true,
    online=false
  )

  +companions-card-page(
    'img/demin-mobile@1x.jpg',
    'img/demin-tablet@1x.jpg',
    'img/demin-desktop@1x.jpg',
    'Петя Демин',
    '1500',
    ['#бургер','#бар','#футбол','#концерт','#крафт'],
    {
      'belgium': 'Бельгия',
      'czech': 'Чехия'
    },
    80,
    fly=true,
    bus=true,
    bike=false,
    walk=true,
    liked=false,
    online=false
  )

  +companions-card-page(
    'img/smolov-mobile@1x.jpg',
    'img/smolov-tablet@1x.jpg',
    'img/smolov-desktop@1x.jpg',
    'Марк Смолов',
    '170',
    ['#рэп','#тату','#хайпбист','#сникеры','#суприм'],
    {
      'usa': 'США',
      'australia': 'Австарлия',
      'dominica': 'Доминика'
    },
    25,
    fly=true,
    bus=false,
    bike=true,
    walk=false,
    liked=false,
    online=false
  )

  +companions-card-page(
    'img/rogovaya-mobile@1x.jpg',
    'img/rogovaya-tablet@1x.jpg',
    'img/rogovaya-desktop@1x.jpg',
    'Лариса Роговая',
    '23',
    ['#образование', '#карьера', '#учеба', '#линкедин'],
    {
      'united-kingdom': 'Великобритания',
      'germany': 'Германия'
    },
    50,
    fly=true,
    bus=true,
    bike=false,
    walk=false,
    liked=false,
    online=true
  )
