
mixin svg-icon(iconName, iconWidth, iconHeight, iconClass=false)
  svg(class=iconClass width=iconWidth height=iconHeight )
    use(xlink:href="img/sprites.svg#" + iconName)

mixin responsive-logo-image(imageLinkMobile, imageLinkTablet, imageLinkDesktop, width, height, alt, imgClass, pictureClass)
  picture(class=(pictureClass ? pictureClass : ''))
    source(media="(min-width: 1200px)", srcset= imageLinkDesktop + '@1x.webp 1x, ' + imageLinkDesktop + '@2x.webp 2x', type="image/webp")
    source(media="(min-width: 768px)", srcset= imageLinkTablet + '@1x.webp 1x, ' + imageLinkTablet + '@2x.webp 2x', type="image/webp")
    source(srcset= imageLinkMobile + '@1x.webp 1x, ' + imageLinkMobile + '@2x.webp 2x' type="image/webp")

    source(media="(min-width: 1200px)", srcset= imageLinkDesktop + '@1x.png 1x, ' + imageLinkDesktop + '@2x.png 2x', type="image/png")
    source(media="(min-width: 768px)", srcset= imageLinkTablet + '@1x.png 1x, ' + imageLinkTablet + '@2x.png 2x', type="image/png")
    img(class=(imgClass ? imgClass : '') src= imageLinkMobile + '@1x.png', srcset= imageLinkMobile + '@1x.png 1x, ' + imageLinkMobile + '@2x.png 2x' width= width, height= height, alt= alt)

mixin responsive-images(imageLinkMobile, imageLinkTablet, imageLinkDesktop, width, height, alt, imgClass, pictureClass)
  picture(class=(pictureClass ? pictureClass : ''))
    source(media="(min-width: 1200px)", srcset= imageLinkDesktop + '@1x.webp 1x, ' + imageLinkDesktop + '@2x.webp 2x', type="image/webp")
    source(media="(min-width: 768px)", srcset= imageLinkTablet + '@1x.webp 1x, ' + imageLinkTablet + '@2x.webp 2x', type="image/webp")
    source(srcset= imageLinkMobile + '@1x.webp 1x, ' + imageLinkMobile + '@2x.webp 2x' type="image/webp")

    source(media="(min-width: 1200px)", srcset= imageLinkDesktop + '@1x.jpg 1x, ' + imageLinkDesktop + '@2x.jpg 2x', type="image/jpg")
    source(media="(min-width: 768px)", srcset= imageLinkTablet + '@1x.jpg 1x, ' + imageLinkTablet + '@2x.jpg 2x', type="image/jpg")
    img(class=(imgClass ? imgClass : '') src= imageLinkMobile + '@1x.jpg', srcset= imageLinkMobile + '@1x.jpg 1x, ' + imageLinkMobile + '@2x.jpg 2x' width= width, height= height, alt= alt)


mixin destination-card(country, description, people, modificator, imageLinkMobile='https://via.placeholder.com/270', imageLinkTablet='https://via.placeholder.com/270', imageLinkDesktop='https://via.placeholder.com/270')
  if modificator
    article.destanation__card
      picture.destanation__card-image
        source(media="(min-width: 1200px)", srcset= imageLinkDesktop + '@1x.webp 1x, ' + imageLinkDesktop + '@2x.webp 2x', type="image/webp")
        source(media="(min-width: 768px)", srcset= imageLinkTablet + '@1x.webp 1x, ' + imageLinkTablet + '@2x.webp 2x', type="image/webp")
        source(srcset= imageLinkMobile + '@1x.webp 1x, ' + imageLinkMobile + '@2x.webp 2x' type="image/webp")

        source(media="(min-width: 1200px)", srcset= imageLinkDesktop + '@1x.jpg 1x, ' + imageLinkDesktop + '@2x.jpg 2x', type="image/jpg")
        source(media="(min-width: 768px)", srcset= imageLinkTablet + '@1x.jpg 1x, ' + imageLinkTablet + '@2x.jpg 2x', type="image/jpg")
        img(src= imageLinkMobile + '@1x.jpg', srcset= imageLinkMobile + '@1x.jpg 1x, ' + imageLinkMobile + '@2x.jpg 2x' width='285', height='285', alt='Изображение карточки направления')

      .destanation__card-country(class=`destanation__card-country--${modificator}`)
        h4.destanation__card-country-name= country
        span.destanation__card-country-description= description
        span.destanation__card-country-people= people

  else
    article.destanation__card
      picture.destanation__card-image
        source(media="(min-width: 1200px)", srcset= imageLinkDesktop + '@1x.webp 1x, ' + imageLinkDesktop + '@2x.webp 2x', type="image/webp")
        source(media="(min-width: 768px)", srcset= imageLinkTablet + '@1x.webp 1x, ' + imageLinkTablet + '@2x.webp 2x', type="image/webp")
        source(srcset= imageLinkMobile + '@1x.webp 1x, ' + imageLinkMobile + '@2x.webp 2x' type="image/webp")

        source(media="(min-width: 1200px)", srcset= imageLinkDesktop + '@1x.jpg 1x, ' + imageLinkDesktop + '@2x.jpg 2x', type="image/jpg")
        source(media="(min-width: 768px)", srcset= imageLinkTablet + '@1x.jpg 1x, ' + imageLinkTablet + '@2x.jpg 2x', type="image/jpg")
        img(src= imageLinkMobile + '@1x.jpg', srcset= imageLinkMobile + '@1x.jpg 1x, ' + imageLinkMobile + '@2x.jpg 2x' width='285', height='285', alt='Изображение карточки направления')

      .destanation__card-country
        h4.destanation__card-country-name= country
        span.destanation__card-country-description= description
        span.destanation__card-country-people= people



mixin companions-card-index(level, personName, status, countries, tags, imageLink='https://via.placeholder.com/270', plane=false, bus=false, bike=false, run=false)
  article.companions__card
    h5.visually-hidden Карточка попутчика
    a.companions__card-link(href="#")
      picture
        source(srcset= imageLink + '@1x.webp 1x, ' + imageLink + '@2x.webp 2x' type="image/webp")
        img.companions__card-image(src= imageLink + '@1x.jpg', srcset= imageLink + '@2x.jpg 2x' width='285', height='285', alt='Изображение карточки попутчика')

    .companions__card-level
      //- .companions__card-level-circle
      svg.companions__card-level-progress(viewBox='0 0 100 100' width="60" height="60" class=`companions__card-level-progress--${level}`)
        circle(cx='50', cy='50', r='35.5')
      span.companions__card-level-number= level
      span.companions__card-level-text level

    .companions__card-content

      ul.companions__card-flags
        each country, index in countries
          li.companions__card-flag(class=`companions__card-flag--${index}`)= country
            span.companions__card-flag-tooltip= country

      a.companions__card-person(href="#")
        if status === 'online'
          span.companions__card-person-status.companions__card-person-status--online= Online
        else
          span.companions__card-person-status.companions__card-person-status--offline= Offline

        span.companions__card-person-name= personName

      section.companions__card-tags
        h5.visually-hidden Теги попутчика
        each tag in tags
          a(href="#")= tag

      ul.companions__card-transports
        if plane
          li.companions__card-transport.companions__card-transport--plane.companions__card-transport--available Авиаперелет
            span.companions__card-transport-tooltip Авиаперелет
        else
          li.companions__card-transport.companions__card-transport--plane Авиаперелет
            span.companions__card-transport-tooltip Авиаперелет

        if bus
          li.companions__card-transport.companions__card-transport--bus.companions__card-transport--available Автотранспорт
            span.companions__card-transport-tooltip Автотранспорт
        else
          li.companions__card-transport.companions__card-transport--bus Автотранспорт
            span.companions__card-transport-tooltip Автотранспорт

        if bike
          li.companions__card-transport.companions__card-transport--bike.companions__card-transport--available Велосипед
            span.companions__card-transport-tooltip Велосипед
        else
          li.companions__card-transport.companions__card-transport--bike Велосипед
            span.companions__card-transport-tooltip Велосипед

        if run
          li.companions__card-transport.companions__card-transport--run.companions__card-transport--available Пешком
            span.companions__card-transport-tooltip Пешком
        else
          li.companions__card-transport.companions__card-transport--run Пешком
            span.companions__card-transport-tooltip Пешком



mixin companions-filter-input(type, name, value, text, checked=false)
  .companions-filter__tab-input-group
    if checked
      input.companions-filter__tab-input(type= type, name= name, id= value value= valueы checked)
    else
      input.companions-filter__tab-input(type= type, name= name, id= value value= value)
    label.companions-filter__tab-label(for= value aria-label= text tabindex="0")= text



mixin companions-filter-input-transport(type, name, value, text, checked=false)
  .companions-filter__tab-input-group
    if checked
      input.companions-filter__tab-input-transport(type= type, name= name, id= value value= value checked)
    else
      input.companions-filter__tab-input-transport(type= type, name= name, id= value value= value)
    label.companions-filter__tab-label-transport(for= value aria-label= text tabindex="0")= text


mixin companion-profile-input-transport(type, name, value, text, checked=false)
  .companion-profile__input-group
    if checked
      input.companion-profile__input-transport(type= type, name= name, id= value value= value checked)
    else
      input.companion-profile__input-transport(type= type, name= name, id= value value= value)
    label.companion-profile__label-transport(for= value aria-label= text tabindex="0")= text


mixin companions-card-page(imageLinkMobile='https://via.placeholder.com/270', imageLinkTablet='https://via.placeholder.com/700', imageLinkDesktop='https://via.placeholder.com/1440', personName, likeCount, tags, countries, level, plane=false, bus=false, bike=false, run=false, liked=false, online=false)

  article.page-companions__card
    h5.visually-hidden Карточка попутчика
    .page-companions__card-info
      .page-companions__card-image-wrapper
        a(href="#")
          picture
            source(media="(min-width: 1200px)", srcset= imageLinkDesktop + '@1x.webp 1x, ' + imageLinkDesktop + '@2x.webp 2x', type="image/webp")
            source(media="(min-width: 768px)", srcset= imageLinkTablet + '@1x.webp 1x, ' + imageLinkTablet + '@2x.webp 2x', type="image/webp")
            source(srcset= imageLinkMobile + '@1x.webp 1x, ' + imageLinkMobile + '@2x.webp 2x' type="image/webp")

            source(media="(min-width: 1200px)", srcset= imageLinkDesktop + '@1x.jpg 1x, ' + imageLinkDesktop + '@2x.jpg 2x', type="image/jpg")
            source(media="(min-width: 768px)", srcset= imageLinkTablet + '@1x.jpg 1x, ' + imageLinkTablet + '@2x.jpg 2x', type="image/jpg")
            img.page-companions__card-image(src= imageLinkMobile + '@1x.jpg', srcset= imageLinkMobile + '@1x.jpg 1x, ' + imageLinkMobile + '@2x.jpg 2x' width='70', height='70', alt='Изображение карточки попутчика')

      .page-companions__card-person-info
        a.page-companions__card-person-name(class=(online ? "page-companions__card-person-name--online" : "page-companions__card-person-name--offline") href="#")= personName
        .page-companions__card-tags
          each tag in tags
            a(href="#")= tag
        .page-companions__card-buttons
          a.page-companions__card-button-call(href="#") Позвать!
          button.page-companions__card-button-like(type="button" class=(liked ? "page-companions__card-button-like--active" : "")) Нравится
          span.page-companions__card-button-like-count= likeCount


    .page-companions__card-countries
      h6.page-companions__card-category-name Хочет посетить:
      ul.page-companions__card-countries-list
        each country, index in countries
          li.page-companions__card-country(class=`page-companions__card-country--${index}`)= country

    .page-companions__card-transport-level
      .page-companions__card-transports
        h6.page-companions__card-category-name Транспорт:
        ul.page-companions__card-transports-list
          li.page-companions__card-transport.page-companions__card-transport--plane(class=(plane ? "page-companions__card-transport--available" : "")) Авиаперелет
            span.page-companions__card-transport-tooltip Авиаперелет
          li.page-companions__card-transport.page-companions__card-transport--bus(class=(bus ? "page-companions__card-transport--available" : "")) Автобус
            span.page-companions__card-transport-tooltip Автобус
          li.page-companions__card-transport.page-companions__card-transport--bike(class=(bike ? "page-companions__card-transport--available" : "")) Велосипед
            span.page-companions__card-transport-tooltip Велосипед
          li.page-companions__card-transport.page-companions__card-transport--run(class=(run ? "page-companions__card-transport--available" : "")) Пешком
            span.page-companions__card-transport-tooltip Пешком

      .page-companions__card-level
        h6.page-companions__card-category-name Левел:
        .page-companions__card-level-wrapper
          svg.page-companions__card-level-progress(viewBox='0 0 100 100' width="60" height="60" class=`page-companions__card-level-progress--${level}`)
            circle(cx='50', cy='50', r='35.5')
          span.page-companions__card-level-number= level
          span.page-companions__card-level-text level


mixin companions-country-filter-letter(letter, countries, active=false)
  if active
    li.companions-country-filter__countries-item.companions-country-filter__countries-item--active
      a.companions-country-filter__countries-letter(href="#")= letter
      ul.companions-country-filter__countries-list
        each country in countries
          li.companions-country-filter__country-name
            a.companions-country-filter__country-name-link(href="#")= country
  else
    li.companions-country-filter__countries-item
      a.companions-country-filter__countries-letter(href="#")= letter
      ul.companions-country-filter__countries-list
        each country in countries
          li.companions-country-filter__country-name
            a.companions-country-filter__country-name-link(href="#")= country


mixin companions-country-filter-small(countries)
  each country in countries
    a.companions-country-filter__countries-column-link(href="#")= country



  //- dl.companions-country-filter__tab
  //-   dt.companions-country-filter__tab-title= region
  //-   dd.companions-country-filter__content
  //-     - const countryLetters = ['А', 'Б', 'В', 'Г', 'Д', 'Е', 'З', 'И', 'К', 'Л', 'М', 'Н', 'О', 'П', 'Р', 'С', 'Т', 'У', 'Ф', 'Х', 'Ч', 'Ш', 'Э', 'Ю', 'Я'];
  //-     ul.companions-country-filter__letters-list
  //-       each letter in countryLetters
  //-         li= letter
  //-     - const countryList = ['Австралия', 'Австрия', 'Азербайджан', 'Албания', 'Алжир', 'Ангола', 'Андорра', 'Антигуа и Барбуда', 'Аргентина', 'Армения'];
  //-     ul.companions-country-filter__letters-list
  //-       each country in countryList
  //-         li= country

