section.companions
  .wrapper

    .companions__content
      h2.companions__title Попутчики
      p.companions__description
        | Все мы индивидуальны и у каждого свой взгляд на идеальный отдых. Одному нужен пляж и коктейль, а другому маршрут для хайкинга.
      p.companions__tagline А если найдете кого-то близкого по духу — скорее зовите в совместный трип!

    //- mixin companions-card(imageLink, level, personName, countries, tags)

      @String imageLink
      @Number level
      @String personName
      @Object countries
      @Array tags

    +companions-card-index(
      'https://via.placeholder.com/285',
      99,
      'Таня Фирсова',
      {
        'sri-lanka': 'Шри Ланка',
        'thailand': 'Тайланд',
        'seychelles': 'Сейшелы'
      },
      ['#ЗОЖ', '#ПП', '#Фитнес', '#пляж', '#авокадо', '#смузи'],
      fly=true,
      bus=false,
      bike=false,
      walk=false
    )

    +companions-card-index(
      'https://via.placeholder.com/285',
      80,
      'Петя Демин',
      {
        'germany': 'Германия',
        'czech': 'Чехия'
      },
      ['#бургер', '#бар', '#футбол', '#концерт', '#крафт'],
      fly=true,
      bus=true,
      bike=false,
      walk=true
    )

    a.btn.btn--section(href='catalog.html') Показать всех
