section.companions
  .wrapper.companions__wrapper

    .companions__content
      h2.section-caption.companions__caption Попутчики
      p.companions__description
        | Все мы индивидуальны и у каждого свой взгляд на идеальный отдых. Одному нужен пляж и коктейль, а другому маршрут для хайкинга.
      p.companions__tagline
        | Теперь можно легко
        br
        | найти единомышленников!

    //- mixin companions-card(imageLink, level, personName, countries, tags)

      @String imageLink
      @Number level
      @String personName
      @Object countries
      @Array tags

    .companions__cards
      +companions-card-index(
        'img/firsova-desktop@1x.jpg',
        99,
        'Таня Фирсова',
        'offline',
        {
          'sri-lanka': 'ШриЛанка',
          'thailand': 'Тайланд',
          'seychelles': 'Сейшелы'
        },
        ['#ЗОЖ', '#ПП', '#Фитнес', '#пляж', '#авокадо', '#смузи'],
        fly=true,
        bus=false,
        bike=false,
        walk=false
      )

      +companions-card-index(
        'img/demin-desktop@1x.jpg',
        80,
        'Петя Демин',
        'online',
        {
          'belgium': 'Бельгия',
          'czech': 'Чехия'
        },
        ['#бургер', '#бар', '#футбол', '#концерт', '#крафт'],
        fly=true,
        bus=true,
        bike=false,
        walk=true
      )

    a.section-btn.companions__btn(href='catalog.html') Показать всех

